<!-- Modal Game Details -->
<div id="game-modal" class="modal">
    <div class="modal__content">
        <span class="modal__close" id="close-game-modal">&times;</span>

        <div class="modal__game">
            <img src="" alt="Game Cover" class="modal__game-img">
            <div class="modal__game-info">
                <h2 class="modal__game-title" id="modal-game-title">Game Title</h2>
                <p class="modal__game-desc" id="modal-game-desc">This is a short description of the game. It will be dynamically filled based on the selected game.</p>
            </div>
        </div>
    </div>
</div>
