<!-- catalog-navbar.html -->
<nav class="navbar">
  <div class="navbar-container catalog-navbar">
    <!-- LOGO -->
    <a href="../../components/homepage/homepage.html" class="logo">Game<span>Rent</span></a>

    <!-- NOVO BLOCO: busca + filtros -->
    <div class="catalog-middle">
      <!-- CAMPO DE BUSCA -->
      <div class="catalog-search-box">
        <input type="text" id="search-name" class="search-input" placeholder="Game name..">
        <button><i class="fas fa-search"></i></button>
      </div>
    </div>

    <!-- CARRINHO -->
    <div class="cart-icon" id="cart-icon">
      <i class="fas fa-shopping-cart"></i>
      <span class="cart-count" id="cart-count">0</span>
    </div>
  </div>
</nav>

