<section class="categories" id="category-container">
    <h2 class="section-title">Categories</h2>
    <div class="categories-grid">
        <div class="category-card">
            <img src="../assets/images/icons/icons-mmorpg-64.png" alt="Action">
            <h3>Action</h3>
        </div>
        <div class="category-card">
            <img src="../assets/images/icons/icons-adventure-64.png" alt="Adventure">
            <h3>Adventure</h3>
        </div>
        <div class="category-card">
            <img src="../assets/images/icons/icons-rpg-60.png" alt="RPG">
            <h3>RPG</h3>
        </div>
        <div class="category-card">
            <img src="../assets/images/icons/icons-target-48.png" alt="FPS">
            <h3>FPS</h3>
        </div>
        <div class="category-card">
            <img src="../assets/images/icons/icons-football-60.png    " alt="Sports">
            <h3>Sports</h3>
        </div>
    </div>
</section>
