<section class="categories" id="category-container">
    <h2 class="section-title">Categorias</h2>
    <div class="categories-grid">
        <div class="category-card">
            <img src="" alt="Ação">
            <h3>Ação</h3>
        </div>
        <div class="category-card">
            <img src="" alt="Aventura">
            <h3>Aventura</h3>
        </div>
        <div class="category-card">
            <img src="" alt="RPG">
            <h3>RPG</h3>
        </div>
        <div class="category-card">
            <img src="" alt="FPS">
            <h3>FPS</h3>
        </div>
        <div class="category-card">
            <img src="" alt="Esportes">
            <h3>Esportes</h3>
        </div>
    </div>
</section>